%h4.text-center
  Please fill out the pet details you prefer to sit
= f.fields_for :sit_pets do |sit_pets_form|
  .form-group
    = sit_pets_form.label :pet_kind, class: 'col-sm-2 control-label'
    .col-sm-3
      %select#select.form-control
        %option{value:"/"}
        %option{value:"dog"} Dog
        %option{value:"cat"} Cat
        %option{value:"other"} Other
    .col-sm-3
      %select#select.form-control
        %option{value:"/"}
        %option{value:"dog"} Dog
        %option{value:"cat"} Cat
        %option{value:"other"} Other
    .col-sm-3
      %select#select.form-control
        %option{value:"/"}
        %option{value:"dog"} Dog
        %option{value:"cat"} Cat
        %option{value:"other"} Other


  .form-group
    = sit_pets_form.label :Dog_breed, class: 'col-sm-2 control-label'
    .col-sm-10
      = sit_pets_form.text_field :breed, class: 'form-control'

  .form-group
    = sit_pets_form.label :Dog_size, class: 'col-sm-2 control-label'
    .col-sm-3
      %select#select.form-control
        %option{value:"/"}
        %option{value:"size"} sm(>25 lbs)
        %option{value:"size"} md(>45 lbs)
        %option{value:"size"}lg(>100 lbs)
        %option{value:"size"}giant(100+ lbs)

    .col-sm-3
      %select#select.form-control
        %option{value:"/"}
        %option{value:"size"} sm(>25 lbs)
        %option{value:"size"} md(>45 lbs)
        %option{value:"size"}lg(>100 lbs)
        %option{value:"size"}giant(100+ lbs)

    .col-sm-3
      %select#select.form-control
        %option{value:"/"}
        %option{value:"size"} sm(>25 lbs)
        %option{value:"size"} md(>45 lbs)
        %option{value:"size"}lg(>100 lbs)
        %option{value:"size"}giant(100+ lbs)
