%h4.text-center
  Please fill out the pet details you prefer to sit
= f.fields_for :sit_pets do |sit_pets_form|
  .form-group
    = sit_pets_form.label :pet_kind, class: 'col-sm-2 control-label'
    .col-sm-3
      = sit_pets_form.select :pet_kind, %w{Select dog cat other}, class: "form-control"


  .form-group
    = sit_pets_form.label :breed, class: 'col-sm-2 control-label'
    .col-sm-10
      = sit_pets_form.text_field :breed, class: 'form-control'

  .form-group
    = sit_pets_form.label :size, class: 'col-sm-2 control-label'
    .col-sm-3
      = sit_pets_form.select :size, ["Select", "sm", "md", "lg", "giant"], class: "form-control"
