.cat_dog_tab
  .container.text-center
    .row
      .col-xs-12.col-sm-6{:role => "tabpanel"}
        / Nav tabs
        %ul#nav-tabs.nav.nav-jasmine{:role => "tablist"}
          %li.col-xs-3.active{:role => "presentation"}
            %a.dog-icon-tab{"aria-controls" => "dog", "data-toggle" => "tab", :href => "#dogicon", :role => "tab"}
              = image_tag("dogicon.jpg", class:"img-circle", id: "img" , size: "70x70")
          %li.col-xs-3{:role => "presentation"}
            %a.cat-icon-tab{"aria-controls" => "cat", "data-toggle" => "tab", :href => "#caticon", :role => "tab"}
              = image_tag("caticon.jpg", class:"img-circle", size: "70x70")
          %li.col-xs-3{:role => "presentation"}
            %a.other-icon-tab{"aria-controls" => "other", "data-toggle" => "tab", :href => "#othericon", :role => "tab"}
              = image_tag("other.jpg", class:"img-circle", size: "70x70")
          %li.col-xs-3{:role => "presentation"}
            %a.multi-icon-tab{"aria-controls" => "multi", "data-toggle" => "tab", :href => "#multiicon", :role => "tab"}
              = image_tag("multipet.jpg", class:"img-circle", size: "70x70")

        / Tab panes
        #tabs-collapse.tab-content
          #dogicon.tab-pane.fade.in.active{:role => "tabpanel"}
            .container.tab-inner
              .row.form-group
                .col-xs-12.col-sm-6
                  %ul.contact-list.list-group
                    = render @dog_sitters
                .col-xs-12.col-sm-6
                  #dog-map

          #caticon.tab-pane.fade{:role => "tabpanel"}
            .container.tab-inner
              .row.form-group
                .col-xs-12.col-sm-6
                  %ul.contact-list.list-group
                    = render @cat_sitters
                .col-xs-12.col-sm-6
                  #cat-map

          #othericon.tab-pane.fade{:role => "tabpanel"}
            .container.tab-inner
              .row.form-group
                .col-xs-12.col-sm-6
                  %ul.contact-list.list-group
                    = render @other_sitters
                .col-xs-12.col-sm-6
                  #other-map

          #multiicon.tab-pane.fade{:role => "tabpanel"}
            .container.tab-inner
              .row.form-group
                .col-xs-12.col-sm-6
                  %ul.contact-list.list-group
                    = render @multi_sitters
                .col-xs-12.col-sm-6
                  #multi-map

%script{src: "https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_API_KEY"]}"}
-# %script{src: "https://maps.googleapis.com/maps/api/js"}

:javascript
  $(document).on("turbolinks:load", function() {
    // Don't run this code unless we have the various maps
    if (!document.getElementById('dog-map') ||
        !document.getElementById('cat-map') ||
        !document.getElementById('other-map') ||
        !document.getElementById('multi-map')) {
      return
    }

    // Get the user's lat and lng
    var latitude = #{@latitude.to_f};
    var longitude = #{@longitude.to_f};

    // Function for adding an info window to the marker
    function attachInfoWindow(marker, message) {
      marker.addListener('click', function() {
        var infowindow = new google.maps.InfoWindow({
          content: message,
          maxWidth: 200
        });

        infowindow.open(marker.get('map'), marker);
      });
    }

    // For the map with an id of elementId, make a map
    // for the supplied array of sitters
    function addSittersToPage(elementId, sitters) {
      // Make a map object
      var map = new google.maps.Map(document.getElementById(elementId), {
                      zoom: 11,
                      center: new google.maps.LatLng(latitude, longitude),
                      mapTypeId: 'terrain'
                    });

      // Add a special marker just for the user
      var latLng = new google.maps.LatLng(latitude, longitude);
      var marker = new google.maps.Marker({
        position: latLng,
        icon: "https://maps.google.com/mapfiles/kml/shapes/info-i_maps.png",
        // icon: "#{image_url("caticon.jpg")}",
        map: map
      });

      // For every sitter...
      for (var i = 0; i < sitters.length; i++) {
        var userId = sitters[i].id
        var lat    = sitters[i].latitude
        var lng    = sitters[i].longitude
        var name   = sitters[i].name

        // Add a marker to the map
        var latLng = new google.maps.LatLng(lat, lng);
        var marker = new google.maps.Marker({
          position: latLng,
          map: map
        });

        // Attach an info window to that marker when clicked
        var contentString = '<div><a href="/users/' + userId + '">' + name + '</a></div>'
        attachInfoWindow(marker, contentString)
      }
    }

    // Make the map for dog sitters
    var dog_sitters = #{@dog_sitters.to_json};
    addSittersToPage('dog-map', dog_sitters)

    // Since we are hiding tabs, only add the map to the page
    // when the tab is shown. Otherwise we get a grey google map
    // without any markers
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      // Get the target tab that was shown
      var $target = $(e.target)

      // if this is the cat tab, and we haven't already added a map for it
      if ($target.hasClass("cat-icon-tab") && !$target.data("hasMap")) {
        // Get the sitters
        var cat_sitters = #{@cat_sitters.to_json};
        // Add them to the map
        addSittersToPage('cat-map', dog_sitters)
        // Remember that we have added a map for them
        $target.data({hasMap: true})
      }
      // if this is the other tab, and we haven't already added a map for it
      if ($target.hasClass("other-icon-tab") && !$target.data("hasMap")) {
        // Get the sitters
        var other_sitters = #{@other_sitters.to_json};
        // Add them to the map
        addSittersToPage('other-map', other_sitters)
        // Remember that we have added a map for them
        $target.data({hasMap: true})
      }

      // if this is the other tab, and we haven't already added a map for it
      if ($target.hasClass("multi-icon-tab") && !$target.data("hasMap")) {
        // Get the sitters
        var multi_sitters = #{@multi_sitters.to_json};
        // Add them to the map
        addSittersToPage('multi-map', multi_sitters)
        // Remember that we have added a map for them
        $target.data({hasMap: true})
      }
    })
  })
