.container.auth.search.results
  %h2.text-center
    Matching Sitter
    -if @dog_sitters.empty? && @cat_sitters.empty? && @other_sitters.empty? && @multi_sitters.empty?
      .jumbotron.result
        %h1 Sorry! No Matching Sitter Found!
        =image_tag("dog_cry.png", class: "img-responsive")
  .row.form-group
    .col-xs-12.col-sm-6
      %ul#contact-list.list-group
        = render @cat_sitters
        = render @dog_sitters
        = render @other_sitters
        = render @multi_sitters
    -#
    -# .col-xs-12.col-sm-6
    -#   #dog-map
    -#   #cat-map
    -#   #other-map
    -#   #multi-map
    -#
    -#   %script{src: "https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_API_KEY"]}"}
    -#   -# %script{src: "https://maps.googleapis.com/maps/api/js"}
    -#
    -#   :javascript
    -#     $(document).on("turbolinks:load", function() {
    -#       // Don't run this code unless we have the various maps
    -#       if (!document.getElementById('dog-map') ||
    -#           !document.getElementById('cat-map') ||
    -#           !document.getElementById('other-map') ||
    -#           !document.getElementById('multi-map')) {
    -#         return
    -#       }
    -#
    -#       // Get the user's lat and lng
    -#       var latitude = #{@latitude.to_f};
    -#       var longitude = #{@longitude.to_f};
    -#
    -#       // Function for adding an info window to the marker
    -#       function attachInfoWindow(marker, message) {
    -#         marker.addListener('click', function() {
    -#           var infowindow = new google.maps.InfoWindow({
    -#             content: message,
    -#             maxWidth: 200
    -#           });
    -#
    -#           infowindow.open(marker.get('map'), marker);
    -#         });
    -#       }
    -#
    -#       // For the map with an id of elementId, make a map
    -#       // for the supplied array of sitters
    -#       function addSittersToPage(elementId, sitters, userMarkerURL) {
    -#         // Make a map object
    -#         var map = new google.maps.Map(document.getElementById(elementId), {
    -#                         zoom: 11,
    -#                         center: new google.maps.LatLng(latitude, longitude),
    -#                         mapTypeId: 'terrain'
    -#                       });
    -#
    -#         // Add a special marker just for the user
    -#         var latLng = new google.maps.LatLng(latitude, longitude);
    -#         var marker = new google.maps.Marker({
    -#           position: latLng,
    -#            //icon: "https://maps.google.com/mapfiles/kml/shapes/info-i_maps.png",
    -#            icon: userMarkerURL,
    -#           map: map
    -#         });
    -#
    -#         // For every sitter...
    -#         for (var i = 0; i < sitters.length; i++) {
    -#           var userId = sitters[i].id
    -#           var lat    = sitters[i].latitude
    -#           var lng    = sitters[i].longitude
    -#           var name   = sitters[i].name
    -#
    -#           // Add a marker to the map
    -#           var latLng = new google.maps.LatLng(lat, lng);
    -#           var marker = new google.maps.Marker({
    -#             position: latLng,
    -#             map: map
    -#           });
    -#
    -#           // Attach an info window to that marker when clicked
    -#           var contentString = '<div><a href="/users/' + userId + '">' + name + '</a></div>'
    -#           attachInfoWindow(marker, contentString)
    -#         }
    -#       }
    -#
    -#       // Make the map for dog sitters
    -#       var dog_sitters = #{@dog_sitters.to_json};
    -#       addSittersToPage('dog-map', dog_sitters, "#{image_url("dogmarker.png")}")
    -#
    -#       // Since we are hiding tabs, only add the map to the page
    -#       // when the tab is shown. Otherwise we get a grey google map
    -#       // without any markers
    -#       $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    -#         // Get the target tab that was shown
    -#         var $target = $(e.target)
    -#
    -#         // if this is the cat tab, and we haven't already added a map for it
    -#         if ($target.hasClass("cat-icon-tab") && !$target.data("hasMap")) {
    -#           // Get the sitters
    -#           var cat_sitters = #{@cat_sitters.to_json};
    -#           // Add them to the map
    -#           addSittersToPage('cat-map', cat_sitters, "#{image_url("catmarker.png")}")
    -#           // Remember that we have added a map for them
    -#           $target.data({hasMap: true})
    -#         }
    -#         // if this is the other tab, and we haven't already added a map for it
    -#         if ($target.hasClass("other-icon-tab") && !$target.data("hasMap")) {
    -#           // Get the sitters
    -#           var other_sitters = #{@other_sitters.to_json};
    -#           // Add them to the map
    -#           addSittersToPage('other-map', other_sitters, "#{image_url("other.png")}")
    -#           // Remember that we have added a map for them
    -#           $target.data({hasMap: true})
    -#         }
    -#
    -#         // if this is the other tab, and we haven't already added a map for it
    -#         if ($target.hasClass("multi-icon-tab") && !$target.data("hasMap")) {
    -#           // Get the sitters
    -#           var multi_sitters = #{@multi_sitters.to_json};
    -#           // Add them to the map
    -#           addSittersToPage('multi-map', multi_sitters, "#{image_url("multimarker.png")}")
    -#           // Remember that we have added a map for them
    -#           $target.data({hasMap: true})
    -#         }
    -#       })
    -#     })
