
.page-header.show

  = link_to users_path, class: 'btn btn-default' do
    %button.btn.btn-large.btn-warning
    Back
  -if users_post?
    = link_to edit_user_path(@user), class: 'btn btn-primary' do
      %button.btn.btn-large.btn-success
      Edit
    = link_to (@user), :method => :delete, :data => { :confirm => 'Are you sure?' } do
      %button.btn.btn-large.btn-danger
      Delete


%dl.dl-horizontal
.auth
  %h2.show Sitter Profile
  .row.auth-box.show-background
    .col-sm-12.show-case
      .col-sm-4.image-profile
        .image-container.img.img-responsive
          -if @user.picture.present?
            = image_tag attachment_url(@user, :picture)
          -else
            = image_tag("dogicon.jpg", size: "250x250")
      .col-sm-4.profile
        .profile-grp
          %dt Name:
          %dd= @user.name
        .profile-grp
          %dt Address:
          %dd= @user.address
        .profile-grp
          %dt Phone:
          %dd= @user.phone
        .profile-grp
          %dt Email:
          %dd= @user.email
        .profile-grp
          %dt About me:
          %dd= @user.about_me
        .profile-grp
          %dt Backyard:
          %dd
            -if @user.backyard == true
              Yes
            -else
              No

        .profile-grp
          %dt Preferences:
          %dd= @user.preferences

      .col-sm-4
        %h4= pluralize(@user.sit_pets.count, "Pet")
        %table.table
          %tbody
            - @user.sit_pets.each.with_index do |sit_pet, index|
              %tr.type
                %td Type:
                %td= sit_pet.pet_kind
              %tr
                %td Breed:
                %td= sit_pet.breed
              %tr
                %td Size:
                %td= sit_pet.size
