= form_for @rating, html: { class: "form-horizontal", role: "form" } do |f|
  -if @rating.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@rating.errors.count, "error")} prohibited this rating from being saved:"

      %ul
        - @rating.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :star, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :star, class: 'form-control'
  .form-group
    = f.label :user_id, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :user_id, class: 'form-control'
  .form-group
    = f.label :sitter_id, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :sitter_id, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
