= form_for @sitter, html: { class: "form-horizontal", role: "form" } do |f|
  -if @sitter.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@sitter.errors.count, "error")} prohibited this sitter from being saved:"

      %ul
        - @sitter.errors.full_messages.each do |msg|
          %li= msg

  .container.auth
    %h1.text-center
      Become A Sitter!
    .big-form.well.auth-box
      %form
        .form-group
          = f.label :profile, class:'col-sm-2 control-label'
          .col-sm-5
            = f.attachment_field :picture
        .form-group
          = f.label :name, class: 'col-sm-2 control-label'
          .col-sm-10
            = f.text_field :name, class: 'form-control'
        .form-group
          = f.label :address, class: 'col-sm-2 control-label'
          .col-sm-10
            = f.text_field :address, class: 'form-control'
        .form-group
          = f.label :city, class: 'col-sm-1 col-sm-offset-1 control-label'
          .col-sm-3
            = f.text_field :city, class: 'form-control'
          = f.label :state, class: 'col-sm-1 control-label'
          .col-sm-3
            = f.text_field :state, class: 'form-control'
          = f.label :zip, class: 'col-sm-1 control-label'
          .col-sm-2
            = f.text_field :zip, class: 'form-control'
        .form-group
          = f.label :phone, class: 'col-sm-2 control-label'
          .col-sm-4
            = f.text_field :phone, class: 'form-control'
          = f.label :email, class: 'col-sm-1 control-label'
          .col-sm-5
            = f.text_field :email, class: 'form-control'

        .form-group
          = f.label :backyard, class: 'col-sm-2 control-label'
          .col-sm-10
            = f.check_box :backyard, class: 'form-control'
        .form-group
          = f.label :preferences, class: 'col-sm-2 control-label'
          .col-sm-10
            = f.text_area :preferences, class: 'form-control'

        %h4.text-center


      = f.fields_for :sit_pets do |sit_pets_form|

        .form-group
          = sit_pets_form.label :breed, class: 'col-sm-2 control-label'
          .col-sm-10
            = sit_pets_form.text_field :breed, class: 'form-control'
        .form-group
          = sit_pets_form.label :Large_dog_50_lbs_plus, class: 'col-sm-2 control-label',placeholder: 'How many'
          .col-sm-2
            = sit_pets_form.number_field :dog_lg, class: 'form-control'
          = sit_pets_form.label :Medium_dog_up_to_49_lbs, class: 'col-sm-2 control-label'
          .col-sm-2
            = sit_pets_form.number_field :dog_md, class: 'form-control'
          = sit_pets_form.label :small_dog_up_to_25_lbs , class: 'col-sm-2 control-label'
          .col-sm-2
            = sit_pets_form.number_field :dog_sm, class: 'form-control'
        .form-group
          = sit_pets_form.label :cat, class: 'col-sm-2 control-label'
          .col-sm-10
            = sit_pets_form.number_field :cat, class: 'form-control'
        .form-group
          = sit_pets_form.label :other_type, class: 'col-sm-2 control-label'
          .col-sm-10
            = sit_pets_form.number_field :other, class: 'form-control'

      -# .form-group
      -#   %label.control-label{:for => "radios"} Do you have any pets?
      -#   %div
      -#     .radio
      -#       %label{:for => "radios-0"}
      -#         %input#radios-0{:checked => "checked", :name => "radios", :type => "radio", :value => "1"}/
      -#         Yes &nbsp
      -#       %label{:for => "radios-1"}
      -#         %input#radios-1{:name => "radios", :type => "radio", :value => "2"}/
      -#         No &nbsp


      .form-group.button_center

        = f.submit class: 'btn btn-default form_submit_btn'
