.page-header
  = link_to new_sitter_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Sitter
  %h1 Listing sitters

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Address
        %th City
        %th State
        %th Zipcode
        %th Phone
        %th Email
        %th Lat
        %th Long
        %th Backyard
        %th Preferences
        %th Picture
        %th{colspan: 3}

    %tbody
      - @sitters.each do |sitter|
        %tr
          %td= sitter.name
          %td= sitter.address
          %td= sitter.city
          %td= sitter.state
          %td= sitter.zipcode
          %td= sitter.phone
          %td= sitter.email
          %td= sitter.lat
          %td= sitter.long
          %td= sitter.backyard
          %td= sitter.preferences
          %td= sitter.picture_id
          %td
            = link_to sitter do
              %span.glyphicon.glyphicon-ok
          %td
            = link_to edit_sitter_path(sitter) do
              %span.glyphicon.glyphicon-pencil
          %td
            = link_to sitter, data: { confirm: 'Are you sure?' }, method: :delete do
              %span.glyphicon.glyphicon-remove
